<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fa fa-lock fa-6x" aria-hidden="true"></i>
    <h1 class="display-3">Oops! you enterted an incorrect Username or Password, Try again.</h1>

    <hr>

    <a class="btn btn-light btn-lg" href="/login" role="button">Try again</a>
<%- include('partials/footer') %>
